<ion-header>
  <ion-toolbar color="light">
    <ion-title class="title-home">MIDR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="section-title">Recomendadas para ti 💜</h2>

  <div class="card-list">

    <div class="profile-card" *ngFor="let p of profiles">

      <img [src]="p.img" class="profile-img" />

      <div class="profile-info">
        <h3>{{ p.name }}</h3>
        <p>{{ p.bio }}</p>
      </div>

      <ion-button
        expand="block"
        shape="round"
        class="btn-purple"
      >
        Ver perfil
      </ion-button>

    </div>

  </div>

</ion-content>
