<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-wrapper">

    <div class="profile-card">

      <img src="assets/icon/AnthonySagaby.png" class="profile-img" />

      <div class="info">
        <h2>Anthony, 22</h2>
        <p class="role">Desarrollador - Ecuador</p>
        <p class="bio">
          Amante de los gatos, los videojuegos retro y la lectura nocturna.
          Me gusta aprender cosas nuevas todos los días.
        </p>
      </div>

    </div>

    <!-- BOTONES EXACTAMENTE AL NIVEL PERFECTO -->
    <div class="actions">
  <button class="btn action-no" (click)="rechazar()">
    <ion-icon name="close"></ion-icon>
  </button>

  <button class="btn action-yes" (click)="aceptar()">
    <ion-icon name="checkmark"></ion-icon>
  </button>
</div>






<!-- TABS -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
